ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 8px;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}